// SOURCE: https://material.io/design/color/dark-theme.html#properties
/* LIGHT THEME COLORS */
$light-theme-base: #bdbdbd;
$light-theme-background: #FFFFFF;
$light-theme-shadow: rgba(18, 18, 18, .3);
$light-theme-primary: #6200EE;
$light-theme-primary-dark: #3700B3;
$light-theme-secondary: #03DAC6;
$light-theme-secondary-dark: #018786;
$light-theme-error-color: #B00020;
/* DARK THEME COLORS */
$dark-theme-base: #1d1d1d;
$dark-theme-background: #121212;
$dark-theme-shadow: rgba(255, 255, 255, .3);
$dark-theme-primary: #BB86FC;
$dark-theme-primary-dark: #3700B3;
$dark-theme-secondary: #03DAC6;
$dark-theme-error-color: #CF6679;